# 1. حظر ملف الأسرار الحساسة (كلمة مرور قاعدة البيانات)
.env

# 2. حظر البيئة الافتراضية بالكامل (لأن حجمها كبير ولا تُرفع إلى جيت هب)
env/
venv/

# 3. حظر ملفات الكاش المؤقتة لبايثون
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# 4. حظر ملفات النظام المؤقتة
.DS_Store
Thumbs.db